body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.img-4{
  height: 450px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 550px;
}

button{
  padding: 10px 16px;
  margin: 0 10px;
  font-size: 30px;
  background-color: cyan;
  border: none;
}

button:hover{
  background-color: rgb(0, 214, 214);
  transition: all .3s;
}

button:active{
  background-color: cyan;
}

.gallery-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 800px;
}

.gallery-container img{
  width: 300px;
  position: absolute;
}